/*
Error: Undefined variable: "$Grid-Name".
        on line 9 of ..\..\general\libs\upf\-grid.scss
        from line 10 of ..\..\general\libs\upf\upf.scss
        from line 4 of main.scss

4: @import "../../general/libs/upf/upf";
5: @import "-code";
6: 
7: $Menu-Width: 			300px;
8: 
9: $Clr-Main:  			$Clr-Alizarin;
10: $Clr-Main-Dark: 		$Clr-Pamegranate;
11: $Clr-Secondary:			$Clr-Clouds;
12: $Clr-Secondary-Dark:	$Clr-Silver;
13: $Clr-Secondary-Darker:	$Clr-Concrete;
14: 

Backtrace:
..\..\general\libs\upf\-grid.scss:9
..\..\general\libs\upf\upf.scss:10
main.scss:4
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/script/tree/node.rb:50:in `perform'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/script/tree/interpolation.rb:100:in `_perform'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/script/tree/node.rb:50:in `perform'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:520:in `block in run_interp_no_strip'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:518:in `map'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:518:in `run_interp_no_strip'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:525:in `run_interp'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:393:in `visit_rule'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `with_base'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:309:in `block (2 levels) in visit_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:309:in `map'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:309:in `block in visit_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:88:in `with_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:306:in `visit_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `with_base'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:309:in `block (2 levels) in visit_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:309:in `map'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:309:in `block in visit_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:88:in `with_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:306:in `visit_import'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `with_base'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:151:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/exec/sass_scss.rb:329:in `watch_or_update'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/exec/sass_scss.rb:50:in `process_result'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/exec/base.rb:40:in `parse'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.2/bin/scss:13:in `<top (required)>'
C:/Ruby200-x64/bin/scss:23:in `load'
C:/Ruby200-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$Grid-Name\".\A         on line 9 of ..\..\general\libs\upf\-grid.scss\A         from line 10 of ..\..\general\libs\upf\upf.scss\A         from line 4 of main.scss\A \A 4: @import \"../../general/libs/upf/upf\";\A 5: @import \"-code\";\A 6: \A 7: $Menu-Width: 			300px;\A 8: \A 9: $Clr-Main:  			$Clr-Alizarin;\A 10: $Clr-Main-Dark: 		$Clr-Pamegranate;\A 11: $Clr-Secondary:			$Clr-Clouds;\A 12: $Clr-Secondary-Dark:	$Clr-Silver;\A 13: $Clr-Secondary-Darker:	$Clr-Concrete;\A 14: "; }
